{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | Terminus GPS</title>
        {% tailwind_css %}
        <link href="{% static 'terminusgps_install/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        <script src="{% static 'terminusgps_install/js/htmx.min.js' %}" defer></script>
    </head>
    <body class="h-screen bg-gradient-to-b from-red-300 to-red-900 bg-no-repeat text-gray-800 dark:text-gray-100">
        <main class="flex items-center justify-center h-screen">
            <div class="p-8 border border-current rounded bg-gray-200 dark:bg-gray-600">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </body>
</html>
